body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif !important;
}

.header {
  background: #9accff;
  /*height: 10vh;*/
  height: 100px;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
.header p {
  margin: 0;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

.footer {
  background: #9accff;
  height: 100px;
  /*height: 5vh;*/
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 2000px;
  padding-left: 20px;
}

#menu-button {
  position: fixed;
  top: 100px;
  left: 0;
  background: white;
  border: solid 2px black;
  border-top: none;
  padding: 5px 10px;
  font-size: 20px;
  cursor: pointer;
  z-index: 1;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

#menu-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.navigation {
  position: fixed;
  top: 20;
  left: 0;
  width: 400px;
  height: 100vh;
  padding: 10px 15px 10px 20px;
  background: white;
  box-sizing: border-box;
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.navigation.active {
  transform: translateX(0);
  box-shadow: 10px 5px 5px lightgray;
}
.navigation p {
  text-decoration: none;
  color: white;
  color: black;
  letter-color: blue;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
}

.homepage-content {
  position: relative;
  text-align: middle;
  vertical-align: left;
}

.content-background {
  position: fixned;
  background: #e6e6e6;
  /*width: 70%;*/
  width: 1000px;
  margin: 0 auto;
  min-height: 100vh;
  display: none;
  flex-direction: column;
  y-index: 10;
  color: #82828d;
}

.content-background p {
  padding: 0 20px;
  colour: #000;
}
.text-content {
  color: #d3d3d3d;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.notes {
  display: flex;
}
.note {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.note-desription {
  width: 70%;
  margin: 10px auto;
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.faq-container {
  width: 85%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-button {
  color: black;
  font-size: 1.1rem;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-align: left;
}

.faq-button:hover {
  background-color: #9accff;
}

.faq-content {
  padding: 10px;
  background-color: #f1f1f1;
  border-left: 3px solid #9accff;
  display: none; /* Domyślnie ukryte */
}

.faq-content p {
  margin: 0;
}

.banner {
  display: grid-block;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Gradient na dole (opcjonalnie jako efekt overlay) */
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  pointer-events: none;
}

.h1 {
  borders: 0.5px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  display: block;
}

.banner-without-gradient {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-without-gradient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recipies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
}

.recipe-block {
  margines: 10px 10px 10px 10px;
  paddings: 12;
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-link {
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.recipe-block img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recipe-link:hover .recipe-block {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-block p {
  transition: text-decoration 0.3s ease;
}

#kalkulatorHoma input {
  height: 20;
  width: 50%;
  margin: 10px auto;
}
#kalkulatorHoma label {
  width: 50%;
  margin: auto;
}

#kalkulatorHoma button {
  width: 30%;
  margin: auto;
}

center {
  padding: 20px 0;
  font-size: 46px;
}

.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f0f0f0;
}

.spinner {
  border: 8px solid #ccc;
  border-top: 8px solid #333;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
