@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;700&family=Pixelify+Sans:wght@400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@700&family=Pixelify+Sans:wght@400..700&family=VT323&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ancizar+Sans:ital,wght@0,100..1000;1,100..1000&family=Exile&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Press+Start+2P&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Trebuchet MS", sans-serif !important;
}

.header {
  background: #9accff;
  height: 10vh;
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 10;
}
.header p {
  margin: 0;
}
.header a {
  text-decoration: none;
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
}

#menu-button {
  position: fixed;
  top: 100px;
  left: 0;
  background: white;
  border: solid 2px black;
  border-top: none;
  padding: 5px 10px;
  font-size: 1.5rem;
  cursor: pointer;
  z-index: 1;
  transform: rotate(-90deg) translateX(-100%);
  transform-origin: top left;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

#menu-button.hidden {
  opacity: 0;
  pointer-events: none;
}

.navigation {
  position: fixed;
  top: 20;
  left: 0;
  width: 20%;
  height: 100vh;
  padding: 10px 15px 10px 20px;
  background: white;
  box-sizing: border-box;
  box-shadow: none;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  display: flex;
  flex-direction: column;
  z-index: 5;
}

.navigation.active {
  transform: translateX(0);
  box-shadow: 10px 5px 5px lightgray;
}
.navigation p {
  text-decoration: none;
  color: white;
  color: black;
  letter-color: blue;
  font-size: 1.2rem;
  margin: 10px 0;
  cursor: pointer;
}

.homepage-content {
  position: relative;
  text-align: middle;
  vertical-align: left;
}

.content-background {
  position: fixned;
  background: #e6e6e6;
  width: 70%;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  y-index: 10;
  color: #82828d;
}

.content-background p {
  padding: 0 20px;
  colour: #000;
}
.text-content {
  color: #d3d3d3d;
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;
}
.notes {
  display: flex;
}
.note {
  width: 50%;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.note-desription {
  width: 70%;
  margin: 10px auto;
  background: white;
  border-radius: 10px;
  padding: 5px;
}

.faq-container {
  width: 85%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

.faq-item {
  margin-bottom: 10px;
}

.faq-button {
  color: black;
  font-size: 1.1rem;
  padding: 10px;
  width: 100%;
  text-align: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  box-align: left;
}

.faq-button:hover {
  background-color: #9accff;
}

.faq-content {
  padding: 10px;
  background-color: #f1f1f1;
  border-left: 3px solid #9accff;
  display: none; /* Domyślnie ukryte */
}

.faq-content p {
  margin: 0;
}

/* .banner-top {
  position: relative;
  width: 100%;
  height: 400px; 
  background-image: url("src/veggies-unsplash.jpg");
  background-size: cover;
  background-position: center center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
       rgba(255, 255, 255, 0.3)
        100% 
    ),
    url("src/veggies-unsplash.jpg");
  background-size: cover;
  transition: background 0.5s ease-in-out;
}

.banner-second {
  position: relative;
  width: 100%;
  height: 400px; 
  background-image: url("src/runner-sunset-main.jpg");
  background-size: cover;
  background-position: center center;
  background: linear-gradient(
      to bottom,
      rgba(255, 255, 255, 0) 80%,
       rgba(255, 255, 255, 0.3)
        100% 
    ),
    url("src/runner-sunset-main.jpg");
  background-size: cover;
  transition: background 0.5s ease-in-out;
} */

.banner {
  display: grid-block;
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

/* Gradient na dole (opcjonalnie jako efekt overlay) */
.banner::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, white 100%);
  pointer-events: none;
}

.h1 {
  borders: 0.5px solid #000;
  text-align: center;
  text-transform: uppercase;
  font-size: 2em;
}

.h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  display: block;
}

.banner-without-gradient {
  position: relative;
  width: 100%;
  height: 400px;
  overflow: hidden;
}

.banner-without-gradient img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recipies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 85%;
  margin: 20px auto;
}

.recipe-block {
  margines: 10px 10px 10px 10px;
  paddings: 12;
  position: relative;
  overflow: hidden;
  height: 300px;
  border-radius: 10px;
  background-color: white;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-link {
  width: 30%;
  height: 300px;
  margin-bottom: 30px;
  text-decoration: none;
  color: black;
  cursor: pointer;
}

.recipe-block img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  object-position: center;
  display: block;
}

.recipe-link:hover .recipe-block {
  transform: scale(1.03);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.recipe-block p {
  transition: text-decoration 0.3s ease;
}

#kalkulatorHoma input {
  height: 20;
  width: 50%;
  margin: 10px auto;
}
#kalkulatorHoma label {
  width: 50%;
  margin: auto;
}

#kalkulatorHoma button {
  width: 30%;
  margin: auto;
}

center {
  padding: 20px 0;
  font-size: 46px;
}

/* tutaj dodatkowy kod */
.header-title {
  font-size: 50px;
  color: #b6bbc4;
}

.header-subtitle {
  color: #b6bbc4;
  margin-top: 0;
}

.summary-background {
  display: block;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  position: absolute;
  width: 100%;
  height: 100vw;
  background: rgba(128, 128, 128, 0.3);
}

.summary {
  background: white;
  border-radius: 15px;
  width: 20%;
  margin: 20% auto;
  padding: 20px; /* added padding for better appearance */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* added shadow for better distinction */
  opacity: 1; /* Ensure it's fully opaque */
  transform: translateY(-100px); /* Initial position above the view */
  transition: transform 0.5s ease-in;
}

.summary.show {
  transform: translateY(0); /* Final position */
}

.summary-background.hide {
  display: none;
}

.settings {
  display: flex;
  flex-direction: column;
  width: 20%;
  margin: 5% auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.restart-button {
  background: #31304d;
  color: #b6bbc4;
  outline: none;
  display: flex;
  margin: auto;
}

.table {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  max-width: 40%;
  margin: 5% auto;
}

.table-row {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  flex-direction: row;
  margin: 5%;
}

.block-input {
  width: 30px;
  height: 30px;
  border: solid 1px #b6bbc4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.header_to_left {
  display: flex;
  width: 50%;
  align-items: center;
  justify-content: left;
}

.header_to_right {
  margin-right: 10px;
  width: 50%;
  height: 15vh;
}
.logo-header {
  color: black;
  font-size: 15px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  word-wrap: break-word;
  margin-left: 30px;
}
.logo-link {
  text-decoration: none;
}
.login-button-outter {
  display: flex;
  margin-left: auto;
  width: 20%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.login-button {
  border-radius: 5px;
  background: #a7b1ea;
  border: none;
  outline: none;
  display: flex;
  font-size: 8px;
  align-items: center;
  cursor: pointer;
  justify-content: center;
  height: 30%;
  margin-left: auto;
  margin-right: 10px;
  width: 100%;
}
ion-icon[name="log-out-outline"] {
  width: 20px;
}
.logout {
  margin-right: 10px;
  display: flex;
  align-items: center;
  text-decoration: none;
  font-size: 0.7em;
  color: #000;
  margin-top: 5px;
  margin-bottom: 5px;
}
.user-button {
  cursor: pointer;
  border: none;
  background: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
  margin-left: auto;
  margin-right: 10px;
  width: 20%;
}
.user-menu {
  display: flex;
  flex-direction: column;
  width: 20%;
  padding: 8px;
  background: #f8f7f7;
  margin-left: auto;
  margin-right: 10px;
  border-radius: 0px 0px 5px 5px;
  border-style: solid;
  border-width: 1px;
  border-color: #a7b1ea;
}

.footer-column {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  width: 25%;
  margin-left: 10%;
}

.footer-column p {
  margin-top: 2px;
  margin-bottom: 2px;
}

.main-background {
  width: 100%;
  min-height: 85vh;
  background-color: #a7d2ea;
  display: flex;
  flex-direction: row;
}

/* index.html */

.main-left {
  width: 35%;
  margin-left: 10%;
  margin-right: 5%;
  margin-top: 5%;
}

.main-right {
  width: 35%;
  margin-left: 5%;
  margin-right: 10%;
  margin-top: 5%;
}

.outter-add-block {
  height: 40vh;
}

.add-block {
  background-color: #f8f7f7;
  width: 80%;
  height: 30px;
  text-align: center;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.circle-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  height: 100%;
}
ion-icon[name="ellipse"] {
  width: 100%;
  height: 80%;
  color: #a7d2ea;
}

.add-text {
  width: 80%;
  text-align: left;
}

.outter-signup-button {
  width: 80%;
  margin-top: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signup-button {
  width: 45%;
  min-height: 25px;
  background: #a7b1ea;
  border-radius: 5px;
  border: none;
  outline: none;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.flashcards {
  height: 40vh;
}

.flashcard-white {
  position: absolute;
  display: flex;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  background: #f8f7f7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  z-index: 1;
}

.flashcard-blue {
  position: relative;
  display: flex;
  width: 150px;
  height: 80px;
  border-radius: 10px;
  background: #a7b1ea;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  transform: rotate(5deg) translate(20px, 20px);
}

.page-name {
  font-size: 40px;
  font-weight: 300;
  margin-top: 15%;
}

/* login.html */

.form-box {
  width: 35vw;
  min-height: 50vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  background: #f8f7f7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.form-title {
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 10px;
  margin-top: 30px;
}

.form-line {
  background-color: #a7b1ea;
  height: 2px;
  width: 25%;
  border: none;
  margin: 0;
}

.username-input {
  width: 100%;
  background: #f8f7f7;
  border: none;
  border-bottom: 1px solid grey;
  margin-bottom: 5px;
  margin-top: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.username-input:focus {
  outline: none;
}

.password-input {
  width: 100%;
  background: #f8f7f7;
  border: none;
  /*border-bottom: 1px solid grey; */
  /*margin-bottom: 10px;*/
  margin-top: 5px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.password-input:focus {
  outline: none;
}

.input-label {
  display: flex;
  font-size: 1em;
  margin: 0px 0px 0px 2px;
}

.change-password-form {
  width: 80%;
  font-size: 0.6em;
}

.btn {
  border-radius: 5px;
  background: #a7b1ea;
  border: none;
  outline: none;
  display: flex;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
  height: 20px;
  width: 40%;
  font-size: 12px;
  font-weight: 300px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.create-account {
  font-size: 12px;
  color: #000;
  margin-bottom: 20px;
  max-width: 90%;
}

.login-error {
  font-size: 10px;
  color: red;
  width: 80%;
}

/* dashboard.html */
.dashboard {
  width: 70vw;
  min-height: 40vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  margin-bottom: 5%;
  border-radius: 15px;
  background: #f8f7f7;
  box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.25);
  text-align: center;
  align-items: center;
  display: flex;
  flex-direction: row;
}

.user_information {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 15px 0px 0px 15px;
  border-right-style: solid;
  border-color: #a7b1ea;
}

.avatar {
  width: 70px;
  height: 70px;
  margin-top: 30px;
  border-radius: 50%;
  background-size: cover;
}

.mini-avatar {
  width: 40%;
  height: auto;
  border-radius: 50%;
  background-size: cover;
}

.edit_profile_pic_icon {
  width: 30%;
  height: 30%;
  background-color: #f8f7f7;
  border-radius: 50%;
  object-fit: contain;
  display: flex;
  margin-top: 70%;
  margin-left: 70%;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0;
}

ion-icon[name="pencil-outline"] {
  width: 90%;
}

.change_photo_form {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  background-color: #f8f7f7;
  border: solid;
  border-radius: 15px;
  border-width: 1px;
  border-color: #000;
  flex-direction: column;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.change_photo_form .settings-close button {
  margin-right: 5px;
  background: #f8f7f7;
}

.image_selector {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
}
.image_selector input:is([type="radio"]) {
  -webkit-appearance: none;
  background-size: cover;
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}
.image_selector input:is([type="radio"]):checked {
  border: solid;
  border-color: blueviolet;
}

.image-selector-label {
  -webkit-appearance: none;
  background-size: cover;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  cursor: pointer;
  margin: 3px 3px 0px 5px;
}

ion-icon[name="add-outline"] {
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  background: grey;
}

.user_data {
  width: 80%;
  text-align: left;
  margin-top: 10px;
  font-size: 0.6em;
}

.user_courses {
  width: 60%;
  height: 100%;
  border-radius: 0px 15px 15px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.course {
  width: 80%;
  border: solid black 1px;
  margin: 5px;
  display: flex;
  padding: 5px;
  align-items: center;
}
.course_name {
  width: 30%;
  color: #000;
  text-decoration: none;
  font-size: 13px;
}
.course_name p {
  margin: 0;
}
.course_progress {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
}
.progress_bar {
  height: 5px;
  background-color: #a7b1ea;
}
.progress_percent {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.change_password {
  color: #000;
  text-decoration: none;
}

/* home.html */
.panel-background {
  background-color: #f8f7f7;
  width: 80vw;
  margin-top: 5vh;
  margin-bottom: 5vh;
  margin-left: 10vw;
  margin-right: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.card {
  min-width: 100%;
  height: 20vh;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
  cursor: pointer;
}
.front {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 20vh;
  backface-visibility: hidden;
  background: #d0e7f4;
  color: #000;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
}
.back {
  position: absolute;
  border-radius: 5px;
  width: 100%;
  height: 20vh;
  backface-visibility: hidden;
  background: #d0e7f4;
  color: #000;
  text-align: center;
  transform: rotateX(180deg);
  align-items: center;
  display: flex;
  justify-content: center;
}
.flipCard {
  transform: rotateX(180deg);
}

/* modules.html */
.modules-panel {
  height: 100%;
  display: flex;
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  flex-direction: column;
  align-items: center;
}

.modules-choices {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.module {
  border: none;
  outline: none;
  background-color: #a7b1ea;
  margin: 10px;
  border-radius: 15px;
  padding: 5px;
  font-size: 0.7em;
  cursor: pointer;
}

/* module */
.flashcards-content {
  width: 100%;
  display: flex;
}
.flashcard-outter {
  overflow: hidden;
  width: 30vh;
}
.flashcards-slideshow {
  display: flex;
  flex-direction: row;
}
.flashcards-display {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-top: 5%;
  align-items: center;
  justify-content: center;
}
.flashcards-display button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}
.flashcards-panel {
  height: 100%;
  display: flex;
  width: 90%;
  flex-direction: column;
  margin-left: 5%;
  margin-right: 5%;
  align-items: left;
}
.module-title-2 {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
}
.module-title {
  margin-left: auto;
  margin-right: auto;
}
.learning-options {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: center;
}
.activity-type {
  background-color: #d0e7f4;
  width: 80%;
  text-align: center;
  border-radius: 10px;
  padding: 5px;
  margin: 5px;
  color: black;
  text-transform: uppercase;
  font-size: 0.8em;
}

/* writing.html */
.flashcard-learn {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-top: 20px;
}

.word-card {
  background-color: #d0e7f4;
  width: 30%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 5px;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}
#input-answer {
  background-color: #f8f7f7;
  border: none;
  border-bottom: solid black;
  outline: none;
}
.next-word {
  width: 50%;
  border: none;
  outline: none;
  background-color: #f8f7f7;
  display: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-end;
  margin-top: 5%;
  text-decoration: underline;
  font-size: 0.8em;
  cursor: pointer;
}

.correct-answer {
  width: 50%;
  display: none;
  margin-left: auto;
  margin-right: auto;
  justify-content: flex-start;
  margin-top: 5%;
  font-size: 0.8em;
}

/* listening.html */
.sound-card {
  background-color: #d0e7f4;
  width: 30%;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  height: 20vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5%;
}

/* speaking.html */
.microphone-button {
  border: none;
  background: none;
  cursor: pointer;
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.user-answer {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  margin: auto;
  font-size: 0.8em;
  border: solid;
  border-radius: 10px;
}

#spoken-text {
  width: 80%;
}

/* quiz.html */

.quiz-answers {
  width: 80%;
  display: flex;
  margin: auto;
}

.row-answers {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.word-card-answer {
  width: 90%;
  margin: 5%;
  background-color: #d0e7f4;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.word-card-answer:disabled {
  color: black;
}

.back-to-menu {
  display: flex;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 20px;
}

.back-to-menu button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.back-button {
  color: black;
}

.find-more-courses {
  display: flex;
  width: 100%;
  padding-right: 10%;
  margin-top: 15px;
  justify-content: flex-end;
  font-size: 0.8em;
  color: black;
}

.find-more-courses a {
  color: black;
}

.popup-background {
  position: absolute;
  width: 100%;
  min-height: 85vh;
  background: rgb(0, 0, 0, 0.5);
  display: none;
  z-index: 5;
  align-items: center;
  justify-content: center;
}

.settings-popup {
  display: flex;
  flex-direction: column;
  min-width: 20%;
  min-height: 20vh;
  background: #d0e7f4;
  border-radius: 10px;
  box-shadow: 1px 1px 1px 1px grey;
  align-items: center;
  padding-bottom: 10px;
}

.settings-close {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.settings-close button {
  outline: none;
  border: none;
  border-radius: 15px;
  background: #d0e7f4;
  cursor: pointer;
}

.question-language {
  display: flex;
  flex-direction: column;
}

.question-language button {
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  width: 60%;
  background: none;
  border: solid 1px black;
  border-radius: 10px;
  cursor: pointer;
}
.show {
  display: flex;
}

.keyboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin-bottom: 10px;
}

.keyboard button {
  outline: none;
  border: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.keys {
  width: 100%;
  display: none;
  flex-direction: column;
}

.keys-row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.key-button {
  display: flex;
  width: 20px;
  height: 20px;
  align-items: center;
  justify-content: center;
}

.caret-up {
  display: none;
}

.input-field {
  width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.eye-off-outline {
  display: none;
}

.remove-course {
  display: flex;
  justify-content: flex-end;
  margin-right: 20px;
  margin-left: auto;
  margin-top: 20px;
  font-size: 0.6em;
  width: 30%;
}
